set_io clk_100m  J3
set_io addr_in[0]  D15
set_io addr_in[1]  F12
set_io addr_in[2]  F14
set_io addr_in[3]  G12
set_io addr_in[4]  D16
set_io addr_in[5]  G13
set_io addr_in[6]  E16
set_io addr_in[7]  G14
set_io addr_in[8]  F15
set_io addr_in[9]  G11
set_io addr_in[10] F16
set_io addr_in[11] G10

set_io data[0]  M15
set_io data[1]  J11
set_io data[2]  L16
set_io data[3]  K13
set_io data[4]  K14
set_io data[5]  J15
set_io data[6]  K15
set_io data[7]  K16

set_io q3 G15
set_io _reset M6
set_io fclk H12
set_io rw G16
set_io _iosel F11
set_io _iostrobe M3

set_io _en245 E14

set_io phase[0] N4
set_io phase[1] R1
set_io phase[2] M5
set_io phase[3] P2

set_io _wrreq M4
set_io select P1
set_io _enbl1 N3
set_io wrdata L5
set_io sense N2
set_io rddata L7
set_io _devsel M2

set_io _enbl2 C16
set_io _en35 F13

#set_io dbgDataOut[0] E4
#set_io dbgDataOut[1] B2
#set_io dbgDataOut[2] F5
#set_io dbgDataOut[3] B1
#set_io dbgDataOut[4] C1
#set_io dbgDataOut[5] C2
#set_io dbgDataOut[6] F4
#set_io dbgDataOut[7] D2

set_io rx  F3
set_io tx  H3
set_io iostrobe_n G3
set_io iosel_n    E2
set_io devsel_n   H5
set_io bufen    E3
set_io btn    K11
